/*
* Main CSS Stylesheet
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}
.player-wrapper {
  position: relative;
  overflow: hidden;
}
.player-video {}
.slides-wrapper {
  z-index: 10;
  /* 
   * Remove layout from the wrapper,
   * allow positioning for elements within it.
   */
  display: inline;
}
.player-slide {
  position: absolute;
  height: 300px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  z-index: 10;
}
.slide-spot {
  position: absolute;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 5px solid #fff;
  cursor: pointer;
}
.slide-spot:hover {
  -webkit-animation: bounce 0.4s;
  animation: bounce 0.4s;
}
.slide-close {
  position: absolute;
  display: block;
  padding: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.player-controls {
  background-color: transparent;
  transition: background-color 0.5s ease 1s;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
}
.player-controls:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition-delay: 0s;
}
.controls-button {
  cursor: pointer;
  padding: 5px;
}
@-webkit-keyframes bounce {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  40% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  40% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
