<div class="player-wrapper">
  <div class="slides-wrapper" ng-controller="SlidesController as slidesCtrl">
    <div ng-repeat="slide in slidesCtrl.slides" ng-show="slidesCtrl.isInTimeView(slide, player.currentTime)" class="slide-spot" ng-click="slidesCtrl.toggleSlide($index)" style="left: {{ slide.circle.x }}%;top:{{ slide.circle.y }}%"></div>
    <div ng-repeat="slide in slidesCtrl.slides" class="player-slide" style="left: {{ slide.position.x }}%;top:{{ slide.position.y }}%" ng-show="slide.isInView">
      <span ng-click="slidesCtrl.toggleSlide($index)" class="slide-close glyphicon glyphicon-remove"></span> {{ slide.content }}
    </div>

  </div>

  <video ng-click="player.togglePlay()" class="img-responsive player-video" src="media/SampleVideo_1080x720_2mb.mp4"></video>

  <div class="player-controls">
    <span class="controls-button glyphicon glyphicon-play" ng-click="player.play()" ng-show="player.isPaused()"></span>
    <span class="controls-button glyphicon glyphicon-pause" ng-click="player.pause()" ng-hide="player.isPaused()"></span>
    <span class="pull-right">{{ player.currentTime | number:0 }}</span>
  </div>
</div>
<div class="well">
  <ul class="list-unstyled">
    <li><strong>is paused: </strong> {{ player.isPaused() }}</li>
    <li><strong>current time: </strong> {{ player.currentTime }}</li>
  </ul>
</div>
